<a href="https://colab.research.google.com/github/Darianna-dev/TELECOM-X-2/blob/main/TelecomX_LATAM_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
datos_json = "/content/drive/MyDrive/ALURA LATAM (ONE)/CHALLENGE-TELECOM-X/Archivos_TelecomX/TelecomX_Data.json"
datos = pd.read_json(datos_json)
datos.sample(3)

,customerID,Churn,customer,phone,internet,account
431,0619-OLYUR,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
3708,5119-KEPFY,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
429,0617-FHSGK,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaciÃ³n

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [5]:
# Aplanamos cada columna JSON por separado
customer_df = pd.json_normalize(datos['customer'])
phone_df = pd.json_normalize(datos['phone'])
internet_df = pd.json_normalize(datos['internet'])
account_df = pd.json_normalize(datos['account'])

In [6]:
# Se une todo en un solo DataFrame
datos = pd.concat([datos[['customerID', 'Churn']], customer_df, phone_df, internet_df, account_df], axis=1)

datos.sample(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2878,3992-YWPKO,Yes,Female,0,No,No,6,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),109.90,669.45
2791,3870-MQAMG,Yes,Female,0,Yes,No,54,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,One year,No,Electronic check,110.35,5893.15
5497,7534-BFESC,Yes,Male,1,No,No,24,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.10,1712.7

In [7]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [8]:
datos['Charges.Total'] = datos['Charges.Total'].replace(r'^\s*$', np.nan, regex=True)  # Reemplaza cualquier tipo de string vacÃ­o, con espacios o tabs por NaN
datos['Charges.Total'] = pd.to_numeric(datos['Charges.Total'], errors='coerce')   # Convierte a numÃ©rico, forzando errores a NaN

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [9]:
# print(datos['Charges.Total'].unique())
print(datos['Charges.Total'].isna().sum())

11

In [10]:
print('Ver cantidad de valores nulos por columna')
# datos.isnull().sum()
print(datos.isnull().sum())
print('-------------------------------------------')
print('Ver porcentaje de valores nulos por columna')
print(datos.isnull().sum() * 100 /len(datos))
print('-------------------------------------------')

Ver cantidad de valores nulos por columna
customerID           0
Churn                0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
Charges.Monthly      0
Charges.Total       11
dtype: int64
-------------------------------------------
Ver porcentaje de valores nulos por columna
customerID          0.000000
Churn               0.000000
gender              0.000000
SeniorCitizen       0.000000
Partner             0.000000
Dependents          0.000000
tenure              0.000000
PhoneService        0.000000
MultipleLines       0.000000
InternetService     0.000000
OnlineSecurity      0.000000
OnlineBackup        0.000000
DeviceProtection    0.000000
TechSupport         0.000000
StreamingTV         0.000000
StreamingMovies     0.000000
Contract            0.000000
PaperlessBilling    0.000000
PaymentMethod       0.000000
Charges.Monthly     0.000000
Charges.Total       0.151369
dtype: float64
-------------------------------------------

In [11]:
# Se eliminan las filas donde 'Charges.Total' es NaN
datos.dropna(subset=['Charges.Total'], inplace=True)
print(datos.isnull().sum())

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [12]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7256 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7256 non-null   object
 1   Churn             7256 non-null   object
 2   gender            7256 non-null   object
 3   SeniorCitizen     7256 non-null   int64
 4   Partner           7256 non-null   object
 5   Dependents        7256 non-null   object
 6   tenure            7256 non-null   int64
 7   PhoneService      7256 non-null   object
 8   MultipleLines     7256 non-null   object
 9   InternetService   7256 non-null   object
 10  OnlineSecurity    7256 non-null   object
 11  OnlineBackup      7256 non-null   object
 12  DeviceProtection  7256 non-null   object
 13  TechSupport       7256 non-null   object
 14  StreamingTV       7256 non-null   object
 15  StreamingMovies   7256 non-null   object
 16  Contract          7256 non-null   object
 17  PaperlessBilling  7256 non-null   object
 18  PaymentMethod     7256 non-null   object
 19  Charges.Monthly   7256 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [13]:
columnas = datos.columns
columnas

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [14]:
# Convertir nombres de columnas en minusculas y a snake_case
datos.columns = datos.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('.', '_', regex=False)
datos.columns

Index(['customerid', 'churn', 'gender', 'seniorcitizen', 'partner',
       'dependents', 'tenure', 'phoneservice', 'multiplelines',
       'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection',
       'techsupport', 'streamingtv', 'streamingmovies', 'contract',
       'paperlessbilling', 'paymentmethod', 'charges_monthly',
       'charges_total'],
      dtype='object')

In [15]:
for columna in datos.columns:
    if datos[columna].dtype == 'object':
        print(datos[columna].unique())

['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
['No' 'Yes' '']
['Female' 'Male']
['Yes' 'No']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes' 'No phone service']
['DSL' 'Fiber optic' 'No']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['One year' 'Month-to-month' 'Two year']
['Yes' 'No']
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

In [16]:
datos.describe(include='O')

,customerid,churn,gender,partner,dependents,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod
count,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256,7256
unique,7256,3,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4
top,9995-HOTOH,No,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check
freq,1,5163,3669,3747,5086,6551,3490,3198,3607,3181,3194,3581,2895,2866,4005,4308,2445

In [17]:
datos['churn'] = datos['churn'].replace('', np.nan)
print(datos['churn'].value_counts())
print(datos['churn'].isnull().sum())

churn
No     5163
Yes    1869
Name: count, dtype: int64
224

In [18]:
datos = datos[datos['churn'].notnull()].copy()
# datos.dropna(subset=['churn'], inplace=True)
print(datos['churn'].value_counts())
print(datos['churn'].isnull().sum())

churn
No     5163
Yes    1869
Name: count, dtype: int64
0

In [19]:
# 4. Resetear el Ã­ndice
datos.reset_index(drop=True, inplace=True)
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7032 non-null   object
 1   churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   seniorcitizen     7032 non-null   int64
 4   partner           7032 non-null   object
 5   dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   phoneservice      7032 non-null   object
 8   multiplelines     7032 non-null   object
 9   internetservice   7032 non-null   object
 10  onlinesecurity    7032 non-null   object
 11  onlinebackup      7032 non-null   object
 12  deviceprotection  7032 non-null   object
 13  techsupport       7032 non-null   object
 14  streamingtv       7032 non-null   object
 15  streamingmovies   7032 non-null   object
 16  contract          7032 non-null   object
 17  paperlessbilling  7032 non-null   object
 18  paymentmethod     7032 non-null   object
 19  charges_monthly   7032 non-null   float64
 20  charges_total     7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [20]:
# Convertir a minÃºsculas
datos['contract'] = datos['contract'].str.strip().str.lower().str.replace('month-to-month', 'month_to_month').str.replace('one year','one_year').str.replace('two year','two_year')
datos['contract']

0             one_year
1       month_to_month
2       month_to_month
3       month_to_month
4       month_to_month
             ...
7027          one_year
7028    month_to_month
7029    month_to_month
7030          two_year
7031          two_year
Name: contract, Length: 7032, dtype: object

In [21]:
for col in datos.select_dtypes(include='object').columns:
    datos[col] = datos[col].str.strip().str.title()
    print(f"Unique values in '{col}':")
    print(datos[col].unique())
    print('---------------------------------')

Unique values in 'customerid':
['0002-Orfbo' '0003-Mknfe' '0004-Tlhlj' ... '9992-Ujoel' '9993-Lhieb'
 '9995-Hotoh']
---------------------------------
Unique values in 'churn':
['No' 'Yes']
---------------------------------
Unique values in 'gender':
['Female' 'Male']
---------------------------------
Unique values in 'partner':
['Yes' 'No']
---------------------------------
Unique values in 'dependents':
['Yes' 'No']
---------------------------------
Unique values in 'phoneservice':
['Yes' 'No']
---------------------------------
Unique values in 'multiplelines':
['No' 'Yes' 'No Phone Service']
---------------------------------
Unique values in 'internetservice':
['Dsl' 'Fiber Optic' 'No']
---------------------------------
Unique values in 'onlinesecurity':
['No' 'Yes' 'No Internet Service']
---------------------------------
Unique values in 'onlinebackup':
['Yes' 'No' 'No Internet Service']
---------------------------------
Unique values in 'deviceprotection':
['No' 'Yes' 'No Internet Service']
---------------------------------
Unique values in 'techsupport':
['Yes' 'No' 'No Internet Service']
---------------------------------
Unique values in 'streamingtv':
['Yes' 'No' 'No Internet Service']
---------------------------------
Unique values in 'streamingmovies':
['No' 'Yes' 'No Internet Service']
---------------------------------
Unique values in 'contract':
['One_Year' 'Month_To_Month' 'Two_Year']
---------------------------------
Unique values in 'paperlessbilling':
['Yes' 'No']
---------------------------------
Unique values in 'paymentmethod':
['Mailed Check' 'Electronic Check' 'Credit Card (Automatic)'
 'Bank Transfer (Automatic)']
---------------------------------

In [23]:
datos['ternure_days'] = datos['tenure'] * 30
# datos['ternure_days']

In [30]:
datos['cuentas_diarias'] = datos['charges_monthly'] / 30
datos.head(3)

,customerid,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,...,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges_monthly,charges_total,ternure_days,cuentas_diarias
0,0002-Orfbo,No,Female,0,Yes,Yes,9,Yes,No,Dsl,...,Yes,Yes,No,One_Year,Yes,Mailed Check,65.6,593.30,270,2.186667
1,0003-Mknfe,No,Male,0,No,No,9,Yes,Yes,Dsl,...,No,No,Yes,Month_To_Month,No,Mailed Check,59.9,542.40,270,1.996667
2,0004-Tlhlj,Yes,Male,0,No,No,4,Yes,No,Fiber Optic,...,No,No,No,Month_To_Month,Yes,Electronic Check,73.9,280.85,120,2.463333

In [38]:
print(datos['cuentas_diarias'].info())
print('------------------------------------------')
print(datos['cuentas_diarias'].isnull().sum())
print('------------------------------------------')
# print(datos['cuentas_diarias'].isna().sum())
# print('------------------------------------------')

<class 'pandas.core.series.Series'>
RangeIndex: 7032 entries, 0 to 7031
Series name: cuentas_diarias
Non-Null Count  Dtype
--------------  -----
7032 non-null   float64
dtypes: float64(1)
memory usage: 55.1 KB
None
------------------------------------------
0
------------------------------------------
0
------------------------------------------

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final